<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rank.html</title>
    <link rel="stylesheet" href="../static/css/novel_rank.css">
</head>
<body>
<!-- <div class="head-fixed head-hidden">

</div> -->
<div class="wrap-main clearfix">
    <div class="head">
        <div class="head-top clearfix">
            <div class="logo fl" style="display:none;">
                <a href="#"><img src="">HOT小说网</a>
            </div>
            <form method="GET" action="" target="_blank" id="comSearch">
                <div class="search-box fl">
                    <input type="text" placeholder="渡劫之王"
                           class="search-text fl" autocomplete="off">
                    <input type="submit" class="search-btn fr">
                </div>
            </form>
            <div class="pay fr">
                <a href="" class="user_pay">充值</a>
            </div>
            <div class="wrap-login">
                <div class="unlogin ud_unlogin clearfix">
                    <div class="login fr">
                        <a href="/login" class="user_login">登录
                        </a>
                    </div>
                    <div class="regist fr">
                        <a href="/register" class="user_register">注册</a>
                    </div>
                </div>
                <div class="logon ud_loged clearfix" style="display: none;">
                    <div class="user tabA imgbox" style="height: 100%;">
                        <img src="../static/images/headerimg.png" alt="" class="ud_avatar ud_goUserCenter">
                    </div>

                </div>
            </div>
        </div>
        <div class="head-nav clearfix">
            <div class="menu-left fl">
                <a href="/index">首页</a>
                <a href="/fenlei/">全部分类</a>
                <a href="/novel_rank">排行榜</a>
                <a href="http://127.0.0.1:5000/123@163.com/books">我的书库</a>
                <a href="">完本</a>
            </div>
            <div class="menu-right fr">
                <a href="" class="func1">作者专区</a>
                <a href="" class="func2">游戏中心</a>
            </div>
        </div>
    </div>
    <div class="rank_wrap">
        <div class="rank_menu">
            <div class="rank_borderE6 rank_side">
                <h3>
                    <a href="" class="rank_active">
                        人气榜单
                    </a>
                </h3>
                <div class="rank_border"></div>
                <h3>作品榜单</h3>
                <p><a href="">推荐榜</a></p>
                <p><a href="">新书榜</a></p>
                <p><a href="">更新榜</a></p>
                <p><a href="">完结榜</a></p>
                <p><a href="">收藏榜</a></p>
                <p><a href="">畅销榜</a></p>
<!--                <p><a href="">完结榜</a></p>-->
                <div class="rank_border_e6 rank_margin_e6"></div>
                <h3>用户榜单</h3>
                <p><a href="">读者消费榜</a></p>
                <div class="rank_border_e6 rank_margin_e7"></div>
                <h3>作者榜单</h3>
                <p><a href="">作者人气榜</a></p>
            </div>
            <div class="rank_borderE6 champion" style="margin-bottom: 10px;">
                <a href="" class="champion_works">
                    <em class="rank_ico_crown"></em>
                    月票冠军 • 新星作品
                </a>
            </div>
        </div>
        <div class="rank_main">
            <div class="banner">
                <div class="demo">
                    <a class="control prev"></a><a class="control next abs"></a><!--自定义按钮，移动端可不写-->
                    <div class="slider"><!--主体结构，请用此类名调用插件，此类名可自定义-->
                        <ul>
                            <li><a href=""><img src="../static/images/lb1.jpeg" alt="杨东带着军需仓库“穿”到了明朝.下决定要带着汉人走到世界最高点。"/></a>
                            </li>
                            <li><a href=""><img src="../static/images/lb2.jpeg" alt="拳刚威！神炎跗骨灼鬼魅，天罡一炁慑神魔！"/></a></li>
                            <li><a href=""><img src="../static/images/lb3.jpeg"
                                                alt="两千五百岁的苏烨活到了自己22岁穿越回古代的那一天，正式开启了自己的高光人生。"/></a></li>
                            <li><a href=""><img src="../static/images/lb4.jpeg"
                                                alt="穿成一个不受宠的皇子妃，还被渣男纠缠，妹妹使坏。她别无选择，撸起袖子就是干！"/></a></li>
                            <li><a href=""><img src="../static/images/lb5.jpeg"
                                                alt="高冷外科女医生和浪荡飙车富二代会碰撞出怎样的火花呢？硬撩的结果注定惨绝人寰！"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="rank_main_border"></div>
            <div class="rank_i_lists">
                <div class="rank_i_p_list0">
                    <div class="rank_i_p_tit">推荐榜</div>
                    <div class="border_rank_dsh rank_i_li rank_i_li1 clearfix a1">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li2 clearfix a2">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li3 clearfix a3">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-4 clearfix a4">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-5 clearfix a5">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-6 clearfix a6">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-7 clearfix a7">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-8 clearfix a8">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-9 clearfix a9">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-10 clearfix a10">

                    </div>
                    <div class="rank_i_more">
                        <a href="" class="rank_i_more_a">更多 </a>
                    </div>
                </div>
                <div class="rank_i_p_list1">
                    <div class="rank_i_p_tit">新书榜</div>
                    <div class="border_rank_dsh rank_i_li rank_i_li1 clearfix a1">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li2 clearfix a2">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li3 clearfix a3">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-4 clearfix a4">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-5 clearfix a5">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-6 clearfix a6">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-7 clearfix a7">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-8 clearfix a8">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-9 clearfix a9">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-10 clearfix a10">

                    </div>
                    <div class="rank_i_more">
                        <a href="" class="rank_i_more_a">更多 ></a>
                    </div>
                </div>
                <div class="rank_i_p_list2">
                    <div class="rank_i_p_tit">更新榜</div>
                    <div class="border_rank_dsh rank_i_li rank_i_li1 clearfix a1">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li2 clearfix a2">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li3 clearfix a3">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-4 clearfix a4">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-5 clearfix a5">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-6 clearfix a6">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-7 clearfix a7">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-8 clearfix a8">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-9 clearfix a9">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-10 clearfix a10">

                    </div>
                    <div class="rank_i_more">
                        <a href="" class="rank_i_more_a">更多 ></a>
                    </div>
                </div>
                <div class="rank_i_p_list3">
                    <div class="rank_i_p_tit">完结榜</div>
                    <div class="border_rank_dsh rank_i_li rank_i_li1 clearfix a1">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li2 clearfix a2">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li3 clearfix a3">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-4 clearfix a4">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-5 clearfix a5">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-6 clearfix a6">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-7 clearfix a7">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-8 clearfix a8">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-9 clearfix a9">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-10 clearfix a10">

                    </div>
                    <div class="rank_i_more">
                        <a href="" class="rank_i_more_a">更多 ></a>
                    </div>
                </div>
                <div class="rank_i_p_list4">
                    <div class="rank_i_p_tit">收藏榜</div>
                    <div class="border_rank_dsh rank_i_li rank_i_li1 clearfix a1">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li2 clearfix a2">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li3 clearfix a3">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-4 clearfix a4">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-5 clearfix a5">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-6 clearfix a6">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-7 clearfix a7">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-8 clearfix a8">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-9 clearfix a9">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-10 clearfix a10">

                    </div>
                    <div class="rank_i_more">
                        <a href="" class="rank_i_more_a">更多 ></a>
                    </div>
                </div>
                <div class="rank_i_p_list5">
                    <div class="rank_i_p_tit">畅销榜</div>
                    <div class="border_rank_dsh rank_i_li rank_i_li1 clearfix a1">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li2 clearfix a2">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li3 clearfix a3">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-4 clearfix a4">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-5 clearfix a5">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-6 clearfix a6">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-7 clearfix a7">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-8 clearfix a8">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-9 clearfix a9">

                    </div>
                    <div class="border_rank_dsh rank_i_li rank_i_li-10 clearfix a10">

                    </div>
                    <div class="rank_i_more">
                        <a href="" class="rank_i_more_a">更多 ></a>
                    </div>
                </div>
            </div>
            <div class="back-box" style="display: block;">
<!--                <div class="online-service glossa_chatbot_show" id="clickCustomerButton" onclick="clickCustomer()">-->
<!--                    <a>-->
<!--                        <i class="icon icon-online-top"></i>-->
<!--                        <span class="none-sm">在线咨询</span>-->
<!--                    </a>-->
<!--                </div>-->
                <div class="back-top e-back-top" style="display: block;">
                    <i class="icon icon-back-top"></i>
                    <span>TOP</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="partlink">
            <div class="wrap">
                <div class="title">出版社合作联系</div>
                <div class="clearfix">
                    <div class="main fl">
                        <div>"版权合作联系人:武汉-武昌达内中心"<a href="">wuhan-danei@163.com</a></div>
                        <div>"广告合作联系人:武汉-武昌达内中心"<a href="">wuhan-danei@163.com</a></div>
                    </div>
                    <div class="help-btn">
                        <a href="" class="btn">帮助中心</a>
                        <p>服务时间:9-21</p>
                    </div>
                    <div class="b1 foot-cell">
                        <div class="tit">项目组员</div>
                        <div class="tit_name">邓道城</div>
                        <div class="tit_name">蔡禹、杨祺瑞</div>
                    </div>
                    <div class="b2 foot-cell">
                        <div class="tit">项目组员</div>
                        <div class="tit_name">夏禹</div>
                        <div class="tit_name">刘飞、韩尚丙、倪煜程</div>
                    </div>
                    <div class="app foot-blank">
                        <div class="imgbox fl">
                            <img src="../static/images/app.png" alt="">
                        </div>
                        <p>联系人1</p>
                    </div>
                    <div class="wchat foot-blank">
                        <div class="imgbox fl">
                            <img src="../static/images/wx.png" alt="">
                        </div>
                        <p>联系人2</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="links">
                <a href="">关于本网站</a>
                "|
                "
                <a href="">招聘</a>
                "|
                "
                <a href="">商务合作</a>
                "|
                "
                <a href="">法律声明</a>
                "|
                "
                <a href="">帮助中心</a>
                "|
                "
                <a href="">作者投稿</a>
                "|
                "
                <a href="">联系我们</a>
                "|
                "
                <a href="">友情网站</a>
                "|
                "
                <a href="">友情推广</a>
            </div>
            <p>本站所收录所有玄幻小说、言情小说、都市小说级其他各类小说作品、小说阅读网、免费小说阅读网、小说评论均属其个人行为，不代表本站立场。</p>
            <p>Copyright(C)2004-2025小说 ALLRights Reserved 武汉达内科技有限公司 版权所有</p>
            <p>网络文化经营许可证：鄂网文[2011]0207-6号</p>
        </div>
    </div>
    <div id="index_left_bottom_piclnk" style="display: block">
        <div class="close" data-hook="closeParent">关闭</div>
        <a href="" class="adClickCss">
            <img src="../static/images/gg.jpg" width="250" height="250" border="0" alt="">
        </a>
    </div>
    <!-- <div>
        '<div class="desc">
            <p class="title">
                <a href=""></a>
            </p>
            <span class="num">
                <em class="curr-num"></em>
                <em class="line"></em>
                <em class="total-num"></em>
            </span>
        </div>
        <div class="bg">

        </div>'
    </div> -->
</div>

</body>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/YuxiSlider.jQuery.min.js"></script>
<script>
    $(".slider").YuxiSlider({
        width: 965, //容器宽度
        height: 300, //容器高度
        control: $('.control'), //绑定控制按钮
        during: 4000, //间隔4秒自动滑动
        speed: 800, //移动速度0.8秒
        mousewheel: true, //是否开启鼠标滚轮控制
        direkey: true //是否开启左右箭头方向控制
    });
</script>
<script>
    $(function () {
        $('#asd').click(function () {
            window.location.href = 'http://127.0.0.1:5000/novel_rank'
        })
    })
</script>
<script>
    $(function () {
        $('.back-top').click(function () {
            $('html,body').animate(
                {
                    scrollTop: 0
                }, 300
            )
        });
        $('.close').click(function () {
            $('#index_left_bottom_piclnk').css('display', 'none');

        });
    })
</script>
<script>
    get_url = 'http://127.0.0.1:8000/v1/ranks/novel_rank';
    var novel_rank = ['.rank_i_p_list0', '.rank_i_p_list1', '.rank_i_p_list2',
        '.rank_i_p_list3', '.rank_i_p_list4', '.rank_i_p_list5']
    // var nov1 = '';
    // var nov2 = '';
    // var nov3 = '';
    // var nov4 = '';
    // var nov5 = '';
    // var nov6 = '';
    // var nov7 = '';
    // var nov8 = '';
    // var nov9 = '';
    // var nov10 = '';
    var nov11 = '';
    var nov12 = '';
    var nov13 = '';
    var nov14 = '';
    var nov15 = '';
    var nov16 = '';
    var nov17 = '';
    var nov18 = '';
    var nov19 = '';
    var nov110 = '';
    $.ajax({
        type: 'get',
        url: get_url,
        beforeSend: function (res) {
            res.setRequestHeader("Authorization")
        },
        success: function (res) {
            var data = res.data
            if (res.code == 200) {
                //console.log("请求成功")
                var IMG_URL = res.base_url
                var num = data
                //console.log(num)
                for (var info = 0; info < num.length; info++) {
                    number = num[info]
                    var nov1 = '';
                    var nov2 = '';
                    var nov3 = '';
                    var nov4 = '';
                    var nov5 = '';
                    var nov6 = '';
                    var nov7 = '';
                    var nov8 = '';
                    var nov9 = '';
                    var nov10 = '';
                    var show0 = ['总票数','****','小说编号','点击数','小说编号','----']
                    var res_show0 = show0[info]
                    var show = ['up','author','novel_num','up','novel_num','author']
                    var res_show = show[info]
                    console.log(number)
                    //var numxxx=number[0]['novel_id']
                    //var numxxx1=number[1]['novel_id']
                    //var numxxx2=number[2]['novel_id']
                    //console.log(res_show)
                    //console.log(res_show0)
                    //console.log(info)
                    //console.log(numxxx)
                    //console.log(numxxx1)
                    //console.log(numxxx2)
                    // ----------------------第一块榜-------------------
                    nov1 += '<div class="rank_i_num fl">' + '1'
                    nov1 += '</div>'
                    nov1 += '<div class="rank_i_bname fl">'
                    nov1 += '<a href='+"topic/"+number[0]['novel_id']+' class="rank_i_l_a_book">' + number[0]['novel_name'] + '</a>'
                    nov1 += '<a href="" class="rank_i_l_a_author">' + number[0]['author'] + '</a>'
                    nov1 += '<a href="" class="rank_i_l_a_category">' + '[' + number[0]['tag'][0] + ']' + '</a>'
                    nov1 += '<div class="rank_i_l_font">' + number[0]['up'] + '&nbsp;' + res_show0
                    nov1 += '</div></div>'
                    nov1 += '<div class="rank_i_bcount fr">'
                    nov1 += '<a href=""><img src=' + IMG_URL + number[0]['cover'] + ' alt=""></a>'
                    nov1 += '</div>'
                    var novel_class1 = '.rank_i_p_list' + info + ' ' + '.a1'
                    // console.log(novel_class1)
                    $(novel_class1).html(nov1)
                    nov2 += '<div class="rank_i_num fl">' + '2'
                    nov2 += '</div>'
                    nov2 += '<div class="rank_i_bname fl">'
                    nov2 += '<a href='+"topic/"+number[1]['novel_id']+'>' + number[1]['novel_name'] + '</a>'
                    nov2 += '</div>'
                    nov2 += '<div class="rank_i_bcount fr">' + number[1][res_show]
                    nov2 += '</div>'
                    var novel_class2 = '.rank_i_p_list' + info + ' ' + '.a2'
                    // console.log(novel_class2)
                    $(novel_class2).html(nov2)
                    nov3 += '<div class="rank_i_num fl">' + '3'
                    nov3 += '</div>'
                    nov3 += '<div class="rank_i_bname fl">'
                    nov3 += '<a href='+"topic/"+number[2]['novel_id']+'>' + number[2]['novel_name'] + '</a>'
                    nov3 += '</div>'
                    nov3 += '<div class="rank_i_bcount fr">' + number[2][res_show]
                    nov3 += '</div>'
                    var novel_class3 = '.rank_i_p_list' + info + ' ' + '.a3'
                    // console.log(novel_class3)
                    $(novel_class3).html(nov3)
                    nov4 += '<div class="rank_i_num fl">' + '4'
                    nov4 += '</div>'
                    nov4 += '<div class="rank_i_bname fl">'
                    nov4 += '<a href='+"topic/"+number[3]['novel_id']+'>' + number[3]['novel_name'] + '</a>'
                    nov4 += '</div>'
                    nov4 += '<div class="rank_i_bcount fr">' + number[3][res_show]
                    nov4 += '</div>'
                    var novel_class4 = '.rank_i_p_list' + info + ' ' + '.a4'
                    // console.log(novel_class4)
                    // $(novel_class4).html(nov4)
                    $(novel_class4).html(nov4)
                    nov5 += '<div class="rank_i_num fl">' + '5'
                    nov5 += '</div>'
                    nov5 += '<div class="rank_i_bname fl">'
                    nov5 += '<a href='+"topic/"+number[4]['novel_id']+'>' + number[4]['novel_name'] + '</a>'
                    nov5 += '</div>'
                    nov5 += '<div class="rank_i_bcount fr">' + number[4][res_show]
                    nov5 += '</div>'
                    var novel_class5 = '.rank_i_p_list' + info + ' ' + '.a5'
                    // console.log(novel_class5)
                    // $(novel_class5).html(nov5)
                    $(novel_class5).html(nov5)
                    nov6 += '<div class="rank_i_num fl">' + '6'
                    nov6 += '</div>'
                    nov6 += '<div class="rank_i_bname fl">'
                    nov6 += '<a href='+"topic/"+number[5]['novel_id']+'>' + number[5]['novel_name'] + '</a>'
                    nov6 += '</div>'
                    nov6 += '<div class="rank_i_bcount fr">' + number[5][res_show]
                    nov6 += '</div>'
                    var novel_class6 = '.rank_i_p_list' + info + ' ' + '.a6'
                    // console.log(novel_class6)
                    // $(novel_class6).html(nov6)
                    $(novel_class6).html(nov6)
                    nov7 += '<div class="rank_i_num fl">' + '7'
                    nov7 += '</div>'
                    nov7 += '<div class="rank_i_bname fl">'
                    nov7 += '<a href='+"topic/"+number[6]['novel_id']+'>' + number[6]['novel_name'] + '</a>'
                    nov7 += '</div>'
                    nov7 += '<div class="rank_i_bcount fr">' + number[6][res_show]
                    nov7 += '</div>'
                    var novel_class7 = '.rank_i_p_list' + info + ' ' + '.a7'
                    // console.log(novel_class7)
                    // $(novel_class7).html(nov7)
                    $(novel_class7).html(nov7)
                    nov8 += '<div class="rank_i_num fl">' + '8'
                    nov8 += '</div>'
                    nov8 += '<div class="rank_i_bname fl">'
                    nov8 += '<a href='+"topic/"+number[7]['novel_id']+'>' + number[7]['novel_name'] + '</a>'
                    nov8 += '</div>'
                    nov8 += '<div class="rank_i_bcount fr">' + number[7][res_show]
                    nov8 += '</div>'
                    var novel_class8 = '.rank_i_p_list' + info + ' ' + '.a8'
                    // console.log(novel_class8)
                    // $(novel_class8).html(nov8)
                    $(novel_class8).html(nov8)
                    nov9 += '<div class="rank_i_num fl">' + '9'
                    nov9 += '</div>'
                    nov9 += '<div class="rank_i_bname fl">'
                    nov9 += '<a href='+"topic/"+number[8]['novel_id']+'>' + number[8]['novel_name'] + '</a>'
                    nov9 += '</div>'
                    nov9 += '<div class="rank_i_bcount fr">' + number[8][res_show]
                    nov9 += '</div>'
                    var novel_class9 = '.rank_i_p_list' + info + ' ' + '.a9'
                    // console.log(novel_class9)
                    // $(novel_class9).html(nov9)
                    $(novel_class9).html(nov9)
                    nov10 += '<div class="rank_i_num fl">' + '10'
                    nov10 += '</div>'
                    nov10 += '<div class="rank_i_bname fl">'
                    nov10 += '<a href='+"topic/"+number[9]['novel_id']+'>' + number[9]['novel_name'] + '</a>'
                    nov10 += '</div>'
                    nov10 += '<div class="rank_i_bcount fr">' + number[9][res_show]
                    nov10 += '</div>'
                    var novel_class10 = '.rank_i_p_list' + info + ' ' + '.a10'
                    // console.log(novel_class10)
                    // $(novel_class10).html(nov10)
                    $(novel_class10).html(nov10)

                }
            }
        },
        error: function (err) {
            console.log('稍等一下')
        }
    })
</script>
</html>
